.footer {
  padding: 60px 0 55px;
  .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &-logo {
    height: 50px;
    width: 177px;
    background-color: var(--primary);
    color: #fff;
    gap: 12px;
    border-radius: 20px;
    font-size: 22px;
    font-family: 22px;
    font-weight: 700;
    line-height: 100%;
    font-family: 'Play';
  }

  &-contact {
      font-size: 18px;
      font-weight: 500;
      &__title {
          font-weight: 700;
          color: var(--primary);
          margin-bottom: 16px;
      }
  }

  &-column {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-copyright {
    font-family: Arial, sans-serif;
    color: #010101;
    max-width: 383px;
  }

  &-links {
      width: 100%;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      nav {
        font-size: 16px;
          display: flex;
          flex-direction: column;
          gap: 28px;
          color: var(--text-black);
      }
  }

  @include lg {
    &-contact {
        font-size: 16px;
    }

    &-links {
      max-width: 450px;
    }

    &-copyright {
      font-size: 12px;
      max-width: 250px;
    }
  }

  @include md {
    padding: 30px 0 20px;
    .container {
      flex-direction: column;
      gap: 40px;
    }
    &-links {
      max-width: 100%;
      flex-direction: column;
      row-gap: 40px;
      nav {
        display: block;
        font-size: 18px;
        a {
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }
    }
    &-column {
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      row-gap: 40px;
    }
    &-main {
      order: 2;
      margin-top: 20px;
      align-items: flex-end;
    }
    &-contact {
      flex: 1;
      &:last-child {
        flex: auto;
        width: 100%;
      }
    }
    &-logo {
      font-size: 18px;
      height: 45px;
      padding: 0 20px;
      width: auto;
      svg {
        width: 27px;
      }
    }
  }

  @include sm {
    .container {
      gap: 20px;
    }
    &-links {
      nav {
        font-size: 14px;
      }
    }
    &-main {
      margin-top: 0;
    }
    &-copyright {
      font-size: 10px;
      column-gap: 10px;
    }
    &-contact {
      font-size: 14px;
    }
    &-column {
      gap: 20px;
    }
  }
}