.hero {
  background: url(/images/hero-bg.svg)
    no-repeat center center;
    background-size: cover;
    padding-top: 148px;
  &-content {
    flex-direction: column;
  }
  
  h1 {
    font-size: 65px;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 24px;
    img {
      position: relative;
      top: 10px;
    }
  }
  &-button {
    max-width: 360px;
    margin-bottom: 55px;
  }

  &-services {
    gap: 40px;
    display: flex;
    &__item {
      flex: 1;
      padding: 17px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 40px;
      min-height: 250px;
      font-size: 20px;
      .service-icon {
        height: 52px;
        width: 70px;
        border-radius: 20px;
        margin-bottom: 20px;
      }
      &#hero-perspectives {
        color: #fff;
        background-color: var(--text-black);
        .service-icon {
          background-color: #fff;
        }
      }
      &#hero-call {
        background-color: #E0E0E0;
        .service-icon {
          background-color: var(--primary);
        }
      }
      &#hero-project {
        background-color: var(--primary);
        color: #fff;
        .service-icon {
          background-color: #fff;
        }
      }
    }
  }

  @include lg {
    &-services {
      gap: 15px;
      &__item {
        font-size: 16px;
      }
    }
  }

  @include md {
    padding-top: 120px;
    h1 {
      font-size: 48px;
      margin-bottom: 50px;
      img {
        top: 5px;
        height: 48px;
      }
    }
    &-services {
      flex-direction: column;
      &__item {
        min-height: 0;
        padding: 30px;
      }
    }
  }

  @include sm {
    h1 {
      font-size: 30px;
      img {
        display: none;
      }
    }
  }
}