.mobile-menu {
  display: flex;
  justify-content: flex-end;
  transform: translateX(100%);
  padding: 0;
  padding-left: 80px;
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;
    color: var(--text-black);
    border-radius: 0;
    background-color: #fff;
    z-index: 1;
    width: 400px;
    padding: 30px;
  }

  nav {
    a {
      display: block;
      margin-bottom: 16px;
      font-size: 24px;
    }
  }

  &.opened {
    transform: translateX(0);
    transition: transform 0.3s;
  }

  &__call {
    gap: 12px;
    font-size: 20px;
    color: var(--primary); 
  }

  @include sm {
    nav {
      a {
        font-size: 18px;
      }
    }
  }
  &__call {
    font-size: 18px;
  }
}