.requests {
  &-content {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-top: 110px;
  }

  &-item {
    align-items: flex-start;
    gap: 10px;
    max-width: 384px;
    &__image {
      width: 50px;
      height: 50px;
    }
    h3 {
      font-size: 26px;
      color: var(--primary);
      margin-bottom: 18px;
    }
    ul {
      font-size: 20px;
      font-family: 'Gilroy';
      li {
        display: flex;
        margin-bottom: 10px;
        &:before {
          content: '-';
          display: block;
          margin-right: 5px;
        }
      }
    }
  }

  @include lg {
    &-content {
      margin-top: 80px;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 40px;
    }
    &-item {
      flex: 1;
    }
    &-item:last-child {
      flex: auto;
      max-width: 100%;
      width: 100%;
    }
  }

  @include md {
    &-content {
      margin-top: 0;
    }
    &-item {
      &__image {
        width: 30px;
        height: 30px;
      }
      h3 {
        font-size: 20px;  
        margin-bottom: 8px;
      }
      ul {
        font-size: 14px;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
  @include sm {
    &-content {
      flex-direction: column;
      padding-left: 20px;
    }
    &-item {
     flex-direction: column;
     h3 {
      font-size: 24px;  
      margin-bottom: 8px;
      }
      ul {
        font-size: 16px;
      }
    }
  }
}