.steps {
  background: url(/images/steps-bg.svg)
    no-repeat center center;
    background-size: cover;
    &-content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }

    &-item {
      &__pretitle {
        text-transform: uppercase;
        color: var(--primary);
        font-size: 18px;
        margin-bottom: 24px;
        font-weight: 700;
      }
      h3 {
        font-size: 26px;
        color: #000;
        margin-bottom: 14px;
      }
      p {
        font-size: 20px;
        max-width: 350px;
      }
    }
  @include lg {
    &-content {
      gap: 28px;
    }
    &-item {
      h3 {
        font-size: 20px;
        white-space: nowrap;
      }
      p {
        font-size: 15px;
      }
    }
  }

  @include md {
    &-content {
      flex-wrap: wrap;
      gap: 40px;
    }
    &-item {
      flex: 1;
      &:last-child {
        flex: auto;
        margin-left: 25%;
      }
    }
  }

  @include sm {
    &-item {
      flex: auto;
      &__pretitle {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-left: 0;
      }
      h3 {
        font-size: 26px;
        white-space: unset;
      }
      p {
        max-width: 100%;
        font-size: 16px;
      }
    }
  }
}